<div class="modal fade" id="hand" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Distribute to hand <i class="fas fa-hand-paper"></i></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form" action="{{ path("distribute") }}" method="post">
                    {% for user in users %}
                        <ul>
                            <li>
                                <div class="d-flex justify-content-between">
                                <span><i class="fas fa-user"></i> {{ user.username }} </span><input type="number" name="{{ user.id }}" value="">
                                </div></li>
                        </ul>
                    {% endfor %}
                    <button type="submit" class="modal-button-distribute btn btn-success">
                        Distribute
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>




