<div class="infos">
    <h2>Information to update</h2>
    <textarea class="text-update" id="zone-information" name="text-to-update"></textarea>
    <h2>Information to show</h2>
    <div class=note-style id="text-show"></div>
    {{ html|raw }}
</div>