<div class="infos">
    {% if is_granted("ROLE_ADMIN") %}
        <h2 class="notes">Notes</h2>
        <textarea class="text-update" id="zone-information" name="text-to-update"></textarea>
    {% else %}
        <h2>Notes</h2>
        <div class="note-style" id="text-show"></div>
    {% endif %}
</div>