{% extends 'base.html.twig' %}

{% block body %}
    {% include '_nav.html.twig' %}
    <div class="infos">
        <h2>Information</h2>
        {% include 'zone/_form.html.twig' %}
    </div>
    {% include '/home/_game_cards.html.twig' %}
    {% include '/home/_game_distrib.html.twig' %}
{% endblock %}