{% extends 'base.html.twig' %}
{% block body %}


<div class="container-fluid">
    <div class="row">
        <a href="{{ path("app_login") }}">Login</a>
        <a href="{{ path("app_register") }}">Register</a>
    </div>
    <div class="row">

        <div class="col-4">

        </div>
    </div>
</div>
{% endblock %}