{% extends 'base.html.twig' %}
{% block body %}
    <h1>Jeu de cartes libres</h1>

    <form class="" action="{{  path("section1_part4_step6_liked_cards_story")}}" method="post">

        <label class="d-flex justify-content-center" for="liked-cards-story">Ecris ton histoire ici : </label>
        <div class="d-flex justify-content-center">


            <textarea placeholder="Il était une fois..." id="liked-cards-story" name="liked-cards-story" rows="7" cols="70"></textarea>

        </div>
        <div class="start-button-container">
            <button type="submit" id="send-liked-cards" class="button-style">Enregistrer</button>
        </div>
    </form>
{% endblock %}