@import "~bootstrap/scss/bootstrap";
@import "table-center";
@import "notes";

body {
    background: repeat url("../images/tapis.jpg");
    color:white;
}

.navbar {
    background-color: #1E152A;
    text-decoration: none;
    a {
        color:white;
    }
}

.hidden-card {
    opacity: 0;
    width:150px;
    height: 200px;
}

.hidden-card-background{
    margin: 5px;
    width:150px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("../images/cardback.png");
    background-size: cover;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.note-style {
    background: navajowhite;
    height: 200px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: gray 3px 3px  3px;
}

.text-update {
    height: 200px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: gray 3px 3px  3px;
}

.section {
    margin: 100px;
}

.modal {
    color: black;
}