@import "~bootstrap/scss/bootstrap";
@import "table-center";
@import "notes";

@import "variable";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    background: repeat url("../images/tapis.jpg");
    color:white;
    font-family: 'Montserrat', sans-serif;

}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(30,21,42,1) 42%, rgba(21,33,16,1) 100%);
    text-decoration: none;
    a {
        color:white;
    }
}

.hidden-card {
    opacity: 0;
    width:150px;
    height: 200px;
}
.card {
    width:150px;
    height: 200px
}

#deck-img {
    position: absolute;
}
.buttons {
    visibility: hidden;
}

.card-img-overlay:hover .buttons {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .mid {
        display: flex;
        h3 {
            color: black;
            font-size: 40px;
            font-weight: 900;
        }
    }
    h3 {
        color: black;
        font-size:30px;
        font-weight: 900;
    }
}

.hidden-card-background{
    margin: 5px;
    width:150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url("../images/cardback.png");
    background-size: cover;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.note-style {
    background: navajowhite;
    height: 200px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: gray 3px 3px  3px;
}

.text-update {
    height: 200px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: gray 3px 3px  3px;
}

.section {
    margin: 100px;
}

.modal {
    color: black;
}

.visible-card {
    filter: sepia(15%);
}


.cards-in-my-hands{
    position: fixed;
    bottom: -20px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-to-gliss{
    width: 120px;
}

.green-button {
    background: -webkit-linear-gradient($button-green1, $button-green2);
    border-radius: 50%;
    box-shadow: 1px 1px 3px 2px lightgray;
    border:none;
    padding: 4px 12px;
    margin-left: 100px;
    display:none;
    position: absolute;
    top: 30px;
    transition: 2s;
    cursor: pointer;
}

.fa-arrow-up {
    color: white;

}


.my-visible-card-in-hand {
    padding-top: 80px;
    transition: 0.3s;
    &:hover{
        padding-top: 0;

    }
}

.card-to-gliss{
    position: relative;
}

.card-to-gliss:hover {
    transition: 2s;
}

.card-to-gliss:hover .green-button {
    display: inline;
    position: absolute;
    top: 30px;
}



.card-to-gliss-horizontal {
    height:40px;
}

