@import "variable";

.visible-card {
  margin:8px;
  width:150px;
  height: 200px;
}

.vlad {
  .hidden-card-background{
    transform: rotate(90deg);
    z-index:3;
    transition: 0.2s;
    &:hover {
      margin-left: 50px;
      margin-bottom: 50px;
      .take-button {
        display: inline;

      }
    }
  }

  display : flex;
  justify-content: center;
  position:absolute;
  left:0;
  max-width:300px;
}

.mathias {
  .hidden-card-background {
    transform: rotate(90deg);
    z-index:3;
    transition: 0.2s;
    &:hover {
      margin-right:50px;
      margin-bottom: 50px;
      .take-button {
        display: inline;


      }
    }
  }
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  position: absolute;
  right: 0;
  max-width: 300px;
}



.take-button {
  border-radius: 50%;
  box-shadow: 1px 1px 3px 2px lightgray;
  border:none;
  padding: 4px 12px;
  position: absolute;
  display:none;
  transition: 2s;
  z-index:100;
  transform:rotate(-90deg);
}


.marta {
  .hidden-card-background{
    transform: rotate(90deg);
    z-index:3;
    &:hover {
      margin-left: 50px;
      .take-button {
        display: inline;

      }
    }
  }

  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  max-width: 300px;

}

.other-players {
  display:flex;
  justify-content:center;
  padding-top:50px;
}

.other-players-name {
  align-self:center;
  padding:30px;
}



