.visible-card {
  margin:8px;
  width:150px;
  height: 200px;
}

.marta {
  display : flex;
  justify-content: center;
  position:absolute;
  left:0px;


}

.mathias {
  display : flex;
  justify-content: center;
  position:absolute;
  right:0px;

}