.visible-card {
  margin:8px;
  width:150px;
  height: 200px;
}

.vlad {
  .hidden-card-background{
    transform: rotate(90deg);
  }
  display : flex;
  justify-content: center;
  position:absolute;
  left:0px;
  max-width:300px;
}

.mathias {
  .hidden-card-background {
    transform: rotate(90deg);
  }

  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
  max-width: 300px;

}


.marta {
  .hidden-card-background {
    transform: rotate(90deg);
  }

  display: flex;
  justify-content: center;
  position: absolute;
  left: 0px;
  max-width: 300px;

}

.other-players {
  display:flex;
  justify-content:center;
}

.other-players-name {
  align-self:center;
}