$white: white;
$white-darker: #c9c8d4;
$blue-lighter: #a3aebe;
$blue: #537e86;
$blue-darker:#061A40;
$green:#346762;
$grey-lighter:#868187;
$grey:#595459;
$black-lighter: #38302e;
$brown: #0D0106;
$black:#080708;
$orange: #FF8A5B;
$red:#4C061D;
$yellow:#F3CA40;


//buttons:
$button-green1:#26e7c7;
$button-green2: #0a504e;
$button-red1:#fd297b;
$button-red2:#ff5864;
$button-blue1:#1069d6;
$button-blue2:#8266d3;
$button-gray1:black;
$button-gray2:grey;
$button-shadow-color: lightgray;