<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div>
        <h2>Jeu de cartes</h2>

    </div>
    <div>
        <a class="nav-link" href="{{ path('new_game') }}"> Commencer une nouvelle partie </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="nav navbar-nav ml-auto">

            <li class="nav-item">
                {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a class="nav-link" href="{{ path('app_register') }}"> S'enregistrer </a>
                    <a class="nav-link" href="{{ path('app_login') }}"> Se connecter </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>