<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--meta http-equiv="refresh" content="3"-->
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %} {{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
